<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="BollettinoNeveFondo" value="https://www.scinordicovalledaosta.it/wp-json/v1/stazioni" />
    <add key="BollettinoNeveDiscesa" value="http://ws.skivallee.it/feed?feed=56a8b796afac0" />
  </appSettings>

</configuration>
