<?xml version="1.0" encoding="utf-8" ?>
<InvaModules>
    <modules>

        <!-- Configurazione modulo - Inva.Orchard.Core -->
        <module namespace="Inva.Orchard.Core">
            <settings>

                <!-- Definisce se il sito è in modalità test o debug -->
                <setting key="TestAndDebug" value="true" />

                <!-- Nome dell'applicazione -->
                <setting key="ApplicationName" value="multitenant.regione.vda.it" />

                <!-- URL di base dell'applicazione, parametro che potrebbe essere utilizzato per creare url -->
                <setting key="ApplicationURL" value="http://dev-multitenant.regione.vda.it/" />

                <!-- URL di base dell'applicazione all'interno della rete -->
                <!-- NOTA: Il certificato HTTPS potrebbe essere gestito da proxy,firewall, etc.., quindi l'url interno potrebbe essere diverso, questo parametro lo identifica -->
                <setting key="ApplicationInternalURL" value="http://dev-multitenant.regione.vda.it/" />

                <!-- Path sul server dell'applicazione -->
                <!--<setting key="ApplicationPath" value="D:\DotNET\RAVDA.new.regione.vda.it\master\new.regione.vda.it\src\Orchard.Web" />-->

                <!-- URL di base dell'applicazione per nodo corrente, da specificare  in caso di cluster EX: "https://mySite.node1.it/" dominio dell'applicazione installata sul nodo 1 del cluster -->
                <setting key="ApplicationNodeURL" value="http://dev-multitenant.regione.vda.it/" />

                <!-- URL considerati url interni, in caso di cluster i domini dei vari nodi EX: "https://mySite.it/,https://mySite.node1.it/,https://mySite.node2.it/..." -->
                <setting key="ApplicationNodesUrls" value="https://dev-multitenant.regione.vda.it/, http://pre-multitenant.regione.vda.it/" />

                <!-- URL parziale del tema utilizzato -->
                <setting key="PartialURLTheme" value="~/Themes/" />

                <!-- URL parziale per i file -->
                <setting key="PartialURLMedia" value="~/Media/" />

            </settings>
        </module>

        <!-- Configurazione modulo - Inva.Orchard.AddOns -->
        <module namespace="Inva.Orchard.AddOns">
            <settings>

                <!-- Inva.Orchard.AddOns - Barra TinyMCE base per l'editor -->
                <setting key="TinyMCEToolbarSimple" value="undo redo cut copy paste | bold italic | bullist numlist outdent indent formatselect | alignleft | link unlink charmap | code fullscreen" />

                <!-- Inva.Orchard.AddOns - TinyMCE : Percorso foglio di stile CSS da caricare nell'editor
                "{theme}/Styles/css/tinymce-editor.css" : {theme} sostituito con il tema/tenant 
                "/Themes/RAVDA/Styles/css/regione-vda-tinymce.css : percorso fisso"
                "[vuoto] : prende il percorso di default (/Themes/RAVDA/Styles/css/regione-vda-tinymce.css)" -->
                <setting key="TinyMCEContentCssPath" value="" />

                <!-- Inva.Orchard.AddOns - Define if apply the redirect by UrlRewrite, only by front end -->
                <setting key="UrlRewriteFrontEndOnly" value="true" />

                <!-- Inva.Orchard.AddOns.Features.Redis - If is true, is log all action pub/sub executed by message broker -->
                <setting key="Redis_MessageBroker_EnableLogVerbose" value="false" />

            </settings>
        </module>


        <!-- Configurazione modulo - Inva.Orchard.MediaViewer -->

        <module namespace="Inva.Orchard.MediaViewer">
            <settings>
                <!-- Inva.Orchard.MediaViewer - Velocità di passaggio fra le immagini del Minibanner-->
                <setting key="MiniBanner:TransitionSpeed"  value="900" />
                <!-- Inva.Orchard.MediaViewer - Velocità di attesa sulla singola immagine del Minibanner -->
                <setting key="MiniBanner:TimeOut"  value="4000" />
                <!-- Inva.Orchard.MediaViewer - Velocità di passaggio fra le immagini del Midibanner -->
                <setting key="MidiBanner:TransitionSpeed"  value="1800" />
                <!-- Inva.Orchard.MediaViewer - Velocità di attesa sulla singola immagine del Midibanner-->
                <setting key="MidiBanner:TimeOut"  value="5000" />
                <setting key="MySetting" value="ABC123" />
            </settings>
        </module>

        <!-- Configurazione modulo - Inva.Orchard.HierarchyContents -->
        <module namespace="Inva.Orchard.HierarchyContents">
            <settings>

                <!-- Inva.Orchard.HierarchyContents - Base directory for the media stored through the hierarchy contents -->
                <setting key="HierarchyMediaBaseDrectory" value="Hierarchy" />

                <!-- Inva.Orchard.HierarchyContents - Container identification in which contents with hierarchical anomalies are inserted -->
                <setting key="AnomaliesContentID" value="" />

                <!-- Inva.Orchard.HierarchyContents - HierarchyZonesManager will not take into consideration the zones, if they have empty widgets, defined here. The widgets are defined in 'HZM_WidgetsNotToBeAddIfEmpty' (EX: "Zone1,Zone2,...") -->
                <setting key="HZM_ZonesNot2BeRenderIfNullOrEmpty" value="" />

                <!-- Inva.Orchard.HierarchyContents - HierarchyZonesManager will not take into consideration the widgets defined here, if these are empty. The zones involved are defined in 'HZM_ZonesNot2BeRenderIfNullOrEmpty' (EX: "Widget1,Widget2,...") -->
                <!-- NOTE: The widget must be managed at the code level -->
                <setting key="HZM_WidgetsNotToBeAddIfEmpty" value="MenuWidget" />

                <!-- ####  DEPRECATED: For specific cache key #### - Inva.Orchard.HierarchyContents - If present, is recovered the cache generated by this module (default = true) -->
                <setting key="EnableCacheOfThisModule" value="false" />

                <!-- Inva.Orchard.HierarchyContents - Enable/Disable the cache of the widget defined into hierarchical containers (default = true) -->
                <setting key="CacheEnabled_ContainerWidgets" value="true" />

                <!-- Inva.Orchard.HierarchyContents - Enable/Disable the cache of the hierarchical menu (default = true) -->
                <setting key="CacheEnabled_Menu" value="true" />

                <!-- Inva.Orchard.HierarchyContents - Enable/Disable the cache of the hierachy wrappers by Taxonomy Terms (default = true) -->
                <setting key="CacheEnabled_Wrappers4TaxonomyTerms" value="true" />

                <!-- Inva.Orchard.HierarchyContents - Enable/Disable the cache of the permission to the hierarchical contents (default = true) -->
                <setting key="CacheEnabled_UserPermissions" value="true" />

                <!-- Inva.Orchard.HierarchyContents - Time in seconds after which the cache expires (default = 300) -->
                <setting key="CacheExpiration" value="300" />

                <!-- Inva.Orchard.HierarchyContents - HierarchyZonesManager will not take into consideration the widgets defined here, if these are empty. The zones involved are defined in 'HZM_ZonesNot2BeRenderIfNullOrEmpty' (EX: "Widget1,Widget2,...") -->
                <!-- NOTE: The widget must be managed at the code level -->
                <setting key="HZM_WidgetsNotToBeAddIfEmpty" value="MenuWidget" />

                <!-- Inva.Orchard.HierarchyContents - Hierarchical wrappers, for the layout injection, refered by content type, taxonomy and term -->
                <!-- EX: [{ContentType:'MyContent1',TaxonomyID:123,TermID:456,HierarchyPartID:789}, {ContentType:'MyContent2',TaxonomyID:111,TermID:22,HierarchyPartID:333}...]-->
                <setting key="HierarchyWrappers4TypeTaxonomyTerms" value="" />

            </settings>
        </module>

        <!-- Configurazione modulo - Inva.BandiAvvisi -->
        <module namespace="Inva.BandiAvvisi">
            <settings>

                <!-- tassonomie escluse dal widget Bandi aperti per categoria -->
                <!-- Sezione web, Ciclo di programmazione -->
                <setting key="ExcludeTaxonomies" value="" />

                <!-- termini esclusi dal widget Bandi aperti per categoria -->
                <!-- Piano giovani, Garanzia giovani, Misure a superficie, Misure strutturali -->
                <setting key="ExcludeTerms" value="" />
            </settings>
        </module>

        <!-- Configurazione modulo - Inva.Mediateca -->
        <module namespace="Inva.Mediateca">
            <settings>
                <setting key="wsmediateca_username" value=""/>
                <setting key="wsmediateca_password" value=""/>
                <setting key="url_iniziale_mediateca_it" value=""/>
                <setting key="url_iniziale_mediateca_fr" value=""/>
                <setting key="urlWSImmaginiMediateca" value=""/>
            </settings>
        </module>

        <!-- Configurazione modulo - Inva.Fitosanitario -->
        <module namespace="Inva.Fitosanitario">
            <settings>
                <setting key="IDCategoriaEmergenzaFitosanitaria" value="" />
            </settings>
        </module>
        <!-- Configurazione modulo Laser.Orchard.CulturePicker per il recupero dei link iniziali per il cambio lingua -->
        <module namespace="Laser.Orchard.CulturePicker">
            <settings>
                <setting key="it-IT" value="/" />
            </settings>
        </module>

        <module namespace="Orchard.ImageEditor">
            <settings>
                <!--Dimensioni immagini-->
                <setting key="Notizia" value="528x292" />
                <setting key="Notizia Principale" value="1400x390" />
                <setting key="Appuntamento" value="724x298" />
                <setting key="Storia" value="710x389" />
                <!--<setting key="Homepage" value="1400x450" />
        <setting key="Copertina" value="710x475" />
		<setting key="Notizia Lista" value="525x292" />
		<setting key="Notizia 3 Colonne" value="528x292" />
		<setting key="Notizia 2 Colonne" value="724x398" />
		<setting key="Appuntamento 2 Colonne" value="724x298" />
		<setting key="Appuntamento Blocco" value="724x298" />
		<setting key="Storia di Progetto 2 Colonne" value="724x398" />
		<setting key="Banner" value="1400x390" />
		<setting key="Banner Copertina" value="1155x363" />
		-->
            </settings>
        </module>

    </modules>
</InvaModules>