<?xml version="1.0"?>
<configuration>
  <appSettings>
		
    <add key="urlFileMeteo" value="http://gestionewww.regione.vda.it/territorio/centrofunzionale/meteo/dati2013/bollettino_meteo/"/>
    <add key="urlFileMeteoLocalita" value="https://gestionewww.regione.vda.it/territorio/centrofunzionale/meteo/dati2013/bollettino_meteo/Dettaglio_localita.xml"/>  
    
		<add key="urlImg" value="https://dev-www.lovevda.it/Modules/Inva.Orchard.LoveVda.Meteo/Styles/Images/"/>
   
		<!-- Non sono usate dal codice -->
		<add key="urlMappa1Mattino" value="https://gestionewww.regione.vda.it/territorio/centrofunzionale/meteo/dati2013/bollettino_meteo/valle_1_im_s.png"/>
    <add key="urlMappa1Pomeriggio" value="https://gestionewww.regione.vda.it/territorio/centrofunzionale/meteo/dati2013/bollettino_meteo/valle_1_ip_s.png"/>
    <add key="urlMappa2" value="https://gestionewww.regione.vda.it/territorio/centrofunzionale/meteo/dati2013/bollettino_meteo/valle_2_im_s.png"/>

		
		<add key="idComuneAosta" value="362"/>
    <add key="destinatariMail" value="dbertolin@invallee.it"/>
    
		<!-- URL delle pagine meteo localizzate -->
    <add key="urlLinkMeteoLovevda_i" value="~/it/prima-di-partire/bollettino-meteorologico"/>
    <add key="urlLinkMeteoLovevda_f" value="~/fr/avant-de-partir/bulletin-meteorologique"/>
    <add key="urlLinkMeteoLovevda_e" value="~/en/before-your-trip/weather-report"/>
    <add key="urlLinkMeteoLovevda_s" value="~/es/antes-de-salir/boletin-meteorologico"/>
    <add key="urlLinkMeteoLovevda_t" value="~/de/praktische-infos/wetterbericht"/>
    <add key="urlLinkMeteoLovevda_r" value="~/ru/Перед-поездкой/прогноз-погоды"/>
  </appSettings>
</configuration>
