<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ExactMatch"
             type="Orchard.OutputCache.Services.Config.OutputCacheSpecsHandler, Orchard.OutputCache, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"
             allowLocation="true"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             overrideModeDefault="Allow"
             restartOnExternalChanges="false"
             requirePermission="true" />
    <section name="PartialMatch"
             type="Orchard.OutputCache.Services.Config.OutputCacheSpecsHandler, Orchard.OutputCache, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"
             allowLocation="true"
             allowDefinition="Everywhere"
             allowExeDefinition="MachineToApplication"
             overrideModeDefault="Allow"
             restartOnExternalChanges="false"
             requirePermission="true" />
  </configSections>
  <ExactMatch>
    <urls>
      <clear />
      <!-- durata in secondi -->
      <add relativePath="/" duration="3600" />
      <add relativePath="/it" duration="3600" />
      <add relativePath="/fr" duration="3600" />
      <add relativePath="/en" duration="3600" />
      <add relativePath="/de" duration="3600" />
      <add relativePath="/es" duration="3600" />
      <add relativePath="/ru" duration="3600" />
      <add relativePath="/en/before-your-trip/weather-report" duration="900" />
      <add relativePath="/fr/avant-de-partir/bulletin-meteorologique" duration="900" />
      <add relativePath="/it/prima-di-partire/bollettino-meteorologico" duration="900" />
      <add relativePath="/ru/Перед-поездкой/прогноз-погоды" duration="900" />
      <add relativePath="/es/antes-de-salir/boletin-meteorologico" duration="900" />
      <add relativePath="/de/praktische-infos/wetterbericht" duration="900" />
      <add relativePath="/en/before-your-trip/downhill-snow-report" duration="900" />
      <add relativePath="/fr/avant-de-partir/bulletin-enneigement-pistes-ski-alpin" duration="900" />
      <add relativePath="/it/prima-di-partire/bollettino-neve-sci-discesa" duration="900" />
      <add relativePath="/ru/Перед-поездкой/состояние-снега-на-горнолыжных-трассах" duration="900" />
      <add relativePath="/es/antes-de-salir/parte-de-nieve-esqui-alpino" duration="900" />
      <add relativePath="/de/praktische-infos/schneebericht-ski-alpin-pisten" duration="900" />
      <add relativePath="/en/before-your-trip/crosscountry-snow-report" duration="900" />
      <add relativePath="/fr/avant-de-partir/bulletin-enneigement-pistes-ski-nordique" duration="900" />
      <add relativePath="/it/prima-di-partire/bollettino-neve-sci-fondo" duration="900" />
      <add relativePath="/ru/Перед-поездкой/состояние-снега-на-беговых-трассах" duration="900" />
      <add relativePath="/es/antes-de-salir/parte-de-nieve-esqui-de-fondo" duration="900" />
      <add relativePath="/de/praktische-infos/schneebericht-langlaufloipen" duration="900" />
    </urls>
  </ExactMatch>
  <PartialMatch>
    <urls>
      <clear />
      <!-- durata in secondi -->
      <add relativePath="/it/neve" duration="900" />
      <add relativePath="/fr/neve" duration="900" />
      <add relativePath="/en/neve" duration="900" />
      <add relativePath="/de/neve" duration="900" />
      <add relativePath="/es/neve" duration="900" />
      <add relativePath="/ru/neve" duration="900" />
    </urls>
  </PartialMatch>
  <appSettings>
    <!-- impostazioni obsolete o non in uso
    <add key="useRAM" value="true" />
    <add key="RicercheNetCacheFolder" value="D:\dotnet\Ravda.Turismo.Ricerche-4OrchardSite\Ravda.Turismo.Ricerche.Web\CachedData\" />
    <add key="RicercheNetCacheDuration" value="120" />
    -->
    <add key="OrchardCacheDuration" value="86400" />
    <add key="useRAM" value="0" />
  </appSettings>
</configuration>
