<configuration>

  <configSections>
    <section name="UrlRewrite"
             type="Inva.Orchard.AddOns.Services.UrlRewriteConfiguration, Inva.Orchard.AddOns, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"
    />
      
  </configSections>
  <UrlRewrite>
    <UrlList />
   <NascondiLingue>ru</NascondiLingue>  
  </UrlRewrite>
 
</configuration>
