<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WebcamThumbMinValidBytes" value="1600"/>
    <add key="GalleryThumbMinValidBytes" value="25000"/>
    <add key="WebcamNormalMinValidBytes" value="500"/>
    <add key="ElencoOrari" value="12:00;13:00"/>
    
		<add key="WebcamOutOfServicePath" value="~/Modules/Inva.Orchard.LoveVda.Webcam/Img/"/>
    
		<add key="urlWebcam" value="http://dev-www.lovevdaresp.it/it/prima-di-partire/webcam"/>
    <add key="UrlWebcamProject" value="http://dev-www.lovevdaresp.it/modules/Inva.Orchard.LoveVda.Webcam"/>
    <add key="UrlLocalita" value="http://dev-www.lovevdaresp.it/modules/Inva.Orchard.LoveVda.Webcam"/>
    <add key="UrlImg" value="http://dev-www.lovevdaresp.it/Modules/Inva.Orchard.LoveVda.Webcam/Styles/Images"/>
    <add key="UrlWebcamCache" value="https://www.lovevda.it/Media/Cache/Webcam/"/>


      <add key="pathWebcamCache" value="D:\Dotnet\Inva.orchard\Orchard\src\Orchard.Web\Media\Cache\Webcam\"/>
    <add key="minutiAggiornamentoCache" value="14"/>
  </appSettings>
</configuration>
