<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!-- PC HERMES -->
    <!--
    <add name="VIT" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=10.100.0.200\SQL2008R2;Database=turismo_2008;Persist Security Info=True;User ID=sa;Password=pwdsi_lao2;" /> 
    -->

    <!-- PC LUCIO FASSIO -->
    <!--
    <add name="VIT" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=172.18.56.115;Database=turismo2008;Persist Security Info=True;User ID=webusr;Password=$!webusr;" />  
    -->
    
    <!-- SERVER DI PROVA -->
    <add name="VIT++" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=NDEVSQL\SQL2008;Database=TURISMO_2008;Persist Security Info=True;User ID=webusr;Password=$!webusr;" /> 

    <!-- SERVER DI PRE-PRODUZIONE -->

    <add name="VIT**"
         providerName="System.Data.SqlClient"
         connectionString="Server=10.196.176.12;Database=TURISMO2008;Persist Security Info=True;User ID=webusr;Password=$!w3bus3r91;" />
		 
    <add name="VIT!!"
         providerName="System.Data.SqlClient"
          connectionString="Server=RVAWEBSQLPRE;Database=turismo2020;uid=turismo20;pwd=2ne$TQJ%;Connection Timeout=30;" />

      <!-- SERVER DI PRODUZIONE -->

      <add name="VIT"
           providerName="System.Data.SqlClient"
           connectionString="Server=LSN-INTERNET,1434;Database=turismo2020;uid=turismo20;pwd=L3FJf&amp;y&amp;k$%Q;Connection Timeout=30;Max Pool Size=1024;" />

    <add name="VIT***"
         providerName="System.Data.SqlClient"
         connectionString="Server=RVATSTGESTWWW;Database=TURISMO2020_dev;Persist Security Info=True;User ID=turismo;Password=$!tur1sm045;" />
  </connectionStrings>
	<appSettings>

		<!-- 
		Specifica il comportamento di blocco della transazione per la connessione (predefinito: ReadUncommitted)
		Valori validi: Chaos, ReadCommitted, ReadUncommitted, RepeatableRead, Snapshot -->
		<add key="TransactionIsolationLevel" value="ReadUncommitted"/>
    <!--Imposta il numero di secondi di validità della cache in memoria (quella per la cache delle query su nhibernate, non di Orchard)-->
    <add key="SecondiValiditaCache" value="30"/>
	</appSettings>
</configuration>