<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

<add name="VIT" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=NDEVSQL\SQL2008;Database=TURISMO_2008;Persist Security Info=True;User ID=webusr;Password=$!webusr;" /> 

  </connectionStrings>
	<appSettings>

		<!-- 
		Specifica il comportamento di blocco della transazione per la connessione (predefinito: ReadUncommitted)
		Valori validi: Chaos, ReadCommitted, ReadUncommitted, RepeatableRead, Snapshot -->
		<add key="TransactionIsolationLevel" value="ReadUncommitted"/>

	</appSettings>
</configuration>