<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="TurismoAtsEntities" connectionString="metadata=res://*/TurismoAtsDb.csdl|res://*/TurismoAtsDb.ssdl|res://*/TurismoAtsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PREP_WEB_APPL8\INTERNET;initial catalog=turismo_ats;persist security info=True;user id=turismo;password=$!tur1sm045;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="TransferMvcUrl" value="https://prep-gestionewww.regione.vda.it/gestione/turismo/transfer_net/"/>
	</appSettings>
</configuration>
